NEXT_PUBLIC_SUPABASE_URL=https://amjlakdzjdyyyyngwnne.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_2creeutZtkACd_o61FMYrg_OxmHOZI0
SUPABASE_SERVICE_ROLE_KEY=your-server-only-service-role-key
